.navMain {
    background-color: rgba(153,	187,	219, 0.8);
}

.navMain:hover {
    opacity: rgba(153,	187,	219, 1);
}

.flower {
    -moz-text-decoration-color: black;
}

.signedIn {
    display: flex;
}

.user {
    padding-left: 7px;
}