.navMain {
    background-color: rgba(153, 187, 219, 0.8);
}

.navMain:hover {
    opacity: rgba(153, 187, 219, 1);
}

.muted {
    position: initial;
    right: 0;
    left: 200;
    z-index: 1030;
    margin-inline-end: auto;
}

.signedIn {
}

.user {
    padding-left: 7px;
}
