* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cform {
    align-items: center;
    background: rgba(153, 187, 219, 0.8);
    display: grid;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
}

.container {
    display: table;
    background-color: #6699cc;
    background-size: 400px;
    border-radius: 25px;
}

.cspan {
    color: #ffffff;
    display: block;
    grid-template-areas: "." ".";
    width: 500px;
    height: 500px;
    text-align: end;
    flex-wrap: wrap;
    font-size: larger;

}

.clabel {
    display: inline-block;
    text-align: start;
    clear: both;
    float: left;
    /* margin-right: 15px; */
    margin: 5px;
    margin-left: 15px;
    margin-top: 8px;
}

.cinput {
    margin: 5px;
    margin-right: 15px;
}

.cinput::placeholder {
    color: lightslategrey;
    opacity: 0,3;
}

.hMain {
    padding-bottom: 30px;
    text-align: center;
}